.subheading {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0;
  color: #d0992e;
  line-height: 1;
  font-family: 'Great Vibes', cursive;
  margin-top: 0;
  z-index: -1;
}
